<mat-toolbar class="head" role="heading">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Header</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="nav-item nav-link-edit" >
        <a  routerLink="/login">Login</a>
    </button>
    <span class="sr"></span>
    <button mat-icon-button class="nav-item nav-link-edit" >
        <a  routerLink="/register-form">Sign Up</a>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>
      