<div>
<mat-toolbar color="primary" class="mat-elevation-z8">
    
    <img src="https://icon-library.com/images/106558_word.svg.svg" alt="Avatar" class="avatar" style="margin: 10px;">
    <span>Website name</span>
    <div class="spacer"></div>

    <a mat-raised-button color="accent" style="margin: 5px;" routerLink="homepage" >Homepage</a>
    <a mat-raised-button color="accent" style="margin: 5px;" routerLink="profile">Profile</a>
    <a mat-raised-button color="accent" style="margin: 5px;" routerLink="aboutus">About us</a>
    <a mat-raised-button color="accent" style="margin: 5px;">Logout</a>
</mat-toolbar>
</div>


