<div>
<mat-toolbar color="primary" class="mat-elevation-z8">
    
    <img src="https://icon-library.com/images/106558_word.svg.svg" alt="Avatar" class="avatar" style="margin: 10px;">
    <span>Website name</span>
    <div class="spacer"></div>

    <a mat-raised-button color="accent" style="margin: 5px;">Dashboard</a>
    <a mat-raised-button color="accent" style="margin: 5px;" routerlink="profile">Profile</a>
    <a mat-raised-button color="accent" style="margin: 5px;" >About us</a>
    <a mat-raised-button color="accent" style="margin: 5px;">Logout</a>
</mat-toolbar>
</div>

<div class="left-card"> 
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Code Compile and Run</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>
            write code in any of your prefered language be it C++ or Python<br>
            Compile and run it online
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn">create a new file</button>
        </mat-card-actions>
      </mat-card>
      
</div>   

<div class="center-card"> 
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Saved files</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
          View your previously saved files<br>
          You can save upto a 10 files
        </p>        
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn">open file</button>
      </mat-card-actions>
    </mat-card>
    
</div> 

